<%- include("partials/header.ejs") %>

<nav>
    <% if (locals.features) { %>
    <% features.forEach(feature => { %>
    <a href="<%= feature.link %>"><%= feature.name %></a>
    <% }); %>
    <% } else { %>
    <p>Default message - Nav</p>
    <% } %>
</nav>

<div>
    <% if (locals.items) { %>
    <div>
        Paging
        <a class="<%= page == 1 ? "disabled-link" : "" %>" href="/<%= featureName %>-prev">Prev</a>
        <span><%= page %></span>
        <a class="<%= items.length < limit ? "disabled-link" : "" %>" href="/<%= featureName %>-next">Next</a>
    </div>

    <div>
        <ul>
            <% items.forEach(item => { %>
            <li>
                <p><%= item.name %></p>
                <img class="img-list-item" src="<%= item.image.filename %>" alt="<%= item.image.description %>" />
            </li>
            <% }); %>
        </ul>
    </div>
    <% } %>

    <% if (locals.error) { %>
    <p class="error"><%= error %></p>
    <% } %>
</div>

<%- include("partials/footer.ejs") %>
